.bg__line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}
.bg__line img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Header__logo {
  height: 80px;
  width: 80px;
}


.Custom__cursor {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: #333; */
}
.Custom__cursor video {
  transition: all 0.3s ease;
  height: 100%;
  left: -30%;
  position: relative;
  filter: blur(150px) saturate(1);
}


.Herozone__Section {
  min-height: calc(100vh - 107px);
  gap: 3vw;
  padding-top: 0;
  display: flex;
  align-items: center;
  position: relative;
}
.Left__column {
  max-width: 40vw;
}
.Left__column .text__block {
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
.Left__column .text__block h6 {
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}
.Left__column .text__block h1 {
  font-size: 54px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.Left__column .text__block h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
  display: flex;
}
.Left__column .text__block h2 span {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  font-style: italic;
  color: #F65823;
  margin-left: 10px;
  /* margin-bottom: 20px; */
}
.Left__column .text__block p {
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
}
.bottom__Action {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.Banner__icons_list {
  display: flex;
  margin-left: 40px;
  align-items: center;
  position: relative;
  z-index: 1;
}
.Banner__icons_list li {
  margin-right: 30px;
}
.Banner__icons_list li a {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Banner__swiper_container {
  
}

.Bottom__grd {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40vw;
  height: 100%;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  opacity: 0.8;
}


.dark .Banner__icons_list li a img {
  filter: invert(1);
}

.Right__content_block {
  position: relative;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  flex-grow: 1;
  height: 100%;
}
.User__image_container {
  position: relative;
  padding-bottom: 100%;
  /* background-color: #F65823; */
  background: rgb(0, 0, 0);
  background: linear-gradient(133deg, rgba(0, 0, 0, 1) 51%, rgba(93, 25, 2, 1) 100%);
  overflow: hidden;
  border-radius: 2rem;
}
.Shapes__block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.Shapes__block svg {
  position: absolute;
  top: 23%;
  left: -19%;
  height: 100%;
  width: 100%;
  transform: scale(1.2);
}
.Avatar__image {
  position: absolute;
}